@import "src/styles/colors.sass"

.records-page-wrp
    display: flex
    flex-direction: column
    overflow: hidden
    height: 100%
    background-color: $background-color
    text-align: center
    width: calc( 100% - 20px )
    padding: 10px

.lines-records-wrp
    display: flex
    flex-direction: column
    width: calc( 100% - 4px )

.borders
    border: solid 2px $dark-blue
    border-radius: 10px
    overflow: hidden

.lines-records-header
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    height: 60px
    text-align: center

.lines-records-header-title
    width: 25%
    font-size: 13pt

.lines-records-counts
    display: flex
    flex-direction: row
    width: 100%
    
.counts-records-wrp
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    margin-top: 10px

.group-records-wrp
    width: 50%
    margin-right: 10px

.nomenclature-records-wrp
    width: calc( 50% - 4px )

.record-title
    display: flex
    justify-content: space-around
    font-size: 13pt
    height: 60px
    align-items: center
    text-align: center

.group-record-line
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 100%
    height: 50px
    align-items: center
    text-align: left
    align-self: center

.group-record-data
    width: 80%

.team-record-data-team
    width: 45%

.team-record-data-quantity
    width: 20%