<div class="records-page-wrp">
    <div class="lines-records-wrp borders">
        <div class="lines-records-header">
            <div class="lines-records-header-title">
            </div>
            <div class="lines-records-header-title">
                <span>Продуктивність</span>
            </div>
            <div class="lines-records-header-title">
                <span>Номер зміни</span>
            </div>
            <div class="lines-records-header-title">
                <span>Дата зміни</span>
            </div>
        </div>
        <div class="lines-records-counts" *ngFor="let line of lineProductivityTop">
            <app-record-line class="lines-records-counts" [line] = "line"></app-record-line>
        </div>
    </div>
    <div class="counts-records-wrp">
        <div class="group-records-wrp borders">
            <div class="record-title">
                <span>Кількість випущеної продукції за зміну, шт.</span>
            </div>
            <div class="group-record-line" *ngFor="let team of teamsTop">
                <div class="team-record-data-team">
                    <span>{{team.teamTitle}}</span>
                </div>
                <div class="team-record-data-quantity">
                    <span>{{team.quantity}}</span>
                </div>
                <div class="team-record-data-quantity">
                    <span>{{team.workDay | date:'dd.MM.YYYY' }}</span>
                </div>
            </div>
        </div>
        <div class="nomenclature-records-wrp borders">
            <div class="record-title">
                <span>Найбільше випущеної продукції</span>
            </div>
            <div class="group-record-line" *ngFor="let nomnclature of nomenclaturesTop">
                <div class="group-record-data">
                    <span>{{nomnclature.nomenclatureTitle}}</span>
                </div>
                <div class="">
                    <span>{{nomnclature.quantity}}</span>
                </div>
            </div>
        </div>
    </div>
</div>