<div class="history-page-wrp borders">
    <div class="history-page-borders">
        <div class="header-wrp">
            <div class="select-wrp">
                <mat-select class="select-dropdown" [(value)]="selectedValue" (selectionChange)="changeMonth($event.value)">
                    <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                </mat-select>
            </div>
            <div class="title-wrp">
                <div class="title-nomenclature">
                    <span>Номенклатура</span>
                </div>
                <div class="title-quantity title-header">
                    <span>Кількість</span>
                </div>
                <div class="title-started-at title-header">
                    <span>Взято в роботу</span>
                </div>
                <div class="title-finished-at title-header">
                    <span>Виконано</span>
                </div>
                <div class="title-avg-performance title-header">
                    <span>Швидкість, <br> уп/хв</span>
                </div>
            </div>
        </div>
        <div *ngFor=" let doneTask of this.doneTasks">
            <app-production-line-history [doneTask]="doneTask"></app-production-line-history>
        </div>
        <div class="pagination-wrp">
            <div class="previous-page" *ngIf="filter.pageNumber > 0">
                <button mat-stroked-button disabled={{isPaginPrevious()}} (click)="openPreviousPage()">Назад</button>
            </div>
            <span>{{filter.pageNumber}} </span>
            <div class="next-page" *ngIf="filter.pageNumber > 0">
                <button mat-stroked-button disabled={{isPaginNext()}} (click)="openNextPage()">Вперед</button>
            </div>
        </div>
    </div>
</div>