<div class="history-page-wrp borders">
    <div class="history-page-borders">
        <div class="header-wrp">
            <div class="select-wrp">
                <mat-select class="select-dropdown" [(value)]="selectedValue">
                    <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
                </mat-select>
            </div>
            <div class="title-wrp">
                <div class="title-released-products title-header">
                    <span>Випущено продукції, шт.</span>
                </div>
                <div class="title-top-speed title-header">
                    <span>Пікова швидкість</span>
                </div>
                <div class="title-avg-speed title-header">
                    <span>Середня швидкість</span>
                </div>
                <div class="title-avg-performance title-header">
                    <span>Середня продуктивність</span>
                </div>
            </div>
        </div>
        <div *ngFor=" let doneTask of this.doneTasks">
            <app-production-line-history [doneTask]="doneTask"></app-production-line-history>
        </div>
        <div class="pagination-wrp">
            <div class="previous-page" *ngIf="filter.pageNumber > 0">
                <button mat-stroked-button disabled={{isPaginPrevious()}} (click)="openPreviousPage()">Назад</button>
            </div>
            <span>{{filter.pageNumber}} </span>
            <div class="next-page" *ngIf="filter.pageNumber > 0">
                <button mat-stroked-button disabled={{isPaginNext()}} (click)="openNextPage()">Вперед</button>
            </div>
        </div>
    </div>
</div>