
<div class="production-line-history-wrp">
    <div class="line-title">
        <span>{{doneTask.lineTitle}}</span>
    </div>
    <div class="line-data">
        <div class="line-prod-count line-widht">
            <span>{{doneTask.quantity}}</span>
        </div>
        <div class="line-speed-top line-widht">
            <span>{{doneTask.startedAt}}</span>
        </div>
        <div class="line-speed-avg line-widht">
            <span>{{doneTask.finishedAt}}</span>
        </div>
        <div class="line-prod-avg line-widht">
            <span>{{getProductivity() | number : '1.2-2'}}</span>
        </div>
    </div>
</div>