<div class="production-line-history-wrp">
    <div class="production-line-main-info" (click)="changeVisability()">
        <div class="line-title">
            <span>{{doneTask.lineTitle}}</span>
        </div>
        <div class="line-data">
            <div class="line-nomenclature line-widht">
                <span>{{doneTask.nomenclatureTitle}}</span>
            </div>
            <div class="line-quantity line-widht">
                <span>{{doneTask.quantity}}</span>
            </div>
            <div class="line-started-at line-widht">
                <span>{{doneTask.startedAt | date:'dd.MM.YY HH:mm'}} </span>
            </div>
            <div class="line-finished-at line-widht">
                <span>{{doneTask.finishedAt | date:'dd.MM.YY HH:mm'}}</span>
            </div>
            <div class="line-prod-avg line-widht">
                <span>{{getProductivity() | number : '1.2-2'}}</span>
            </div>
        </div>
    </div>
    <div class="employee-list-wrp" *ngIf="showEmployeesList">
        <div class="employee-list" *ngFor="let employee of doneTask.employees">
            <span>{{employee.split("(")[0]}}</span>
        </div>
    </div>
</div>