
<div class="production-line-history-wrp">
    <div class="line-title">
        <span>{{lineHistory.title}}</span>
    </div>
    <div class="line-data">
        <div class="line-prod-count line-widht">
            <span>{{lineHistory.productionsCount}}</span>
        </div>
        <div class="line-speed-top line-widht">
            <span>{{lineHistory.speedTop}}</span>
        </div>
        <div class="line-speed-avg line-widht">
            <span>{{lineHistory.speedAvg}}</span>
        </div>
        <div class="line-prod-avg line-widht">
            <span>{{lineHistory.productivityAvg}}</span>
        </div>
    </div>
</div>