.line-wrp
    display: flex
    flex-direction: row
    align-items: center
    text-align: center
    height: 110px

.title-line
    width: 15%

.title-prod-online
    width: 6.5%

.title-prod-top
    width: 6.5%

.title-nomenclature
    width: 23%

.title-plan
    width: 6%

.title-fact
    width: 6%

.title-progress
    width: 9%

.title-avg-speed
    width: 9%

.title-time
    width: 9%

.title-end-time
    width: 10%